body{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.square{
    height: 50px;
    width: 50px;
    margin: 1px;
    background-color: aqua;
}